@use "themes.scss" as *;
@use "variables.scss" as *;
@use "sass:list";

.classElement {
  image-rendering: pixelated;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-shrink: 0;
  @include themify($themes) {
    border-bottom: 2px solid themed("text");
    padding: 16px 5px 16px 0px;
    gap: 12px;
    .classElement-content {
      padding: 4px 0px;
      flex: 1;
      position: relative;
      h3,
      a {
        color: themed("primary");
        margin-bottom: 0px;
        font-size: 29px;
        width: fit-content;
        font-weight: 600;
      }
      h6 {
        margin-bottom: 5px;
      }
      table {
        left: 0;
        float: left;
        font-size: 14px;
        margin-top: 4px;
        width: 100%;
        tr td:nth-child(1) {
          width: 45px;
          background-color: red;
        }
        tr td:nth-child(2) {
          // width: 80%;
          background-color: rebeccapurple;
        }
      }
    }
  }
}

.classElement .icon,
.classElementIcon {
  @include themify($themes) {
    border: 4px solid black;
    background-color: themed("primary");
    flex: 1;
    max-width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 10px;
    // background-image: url("../images/mushrooms/shaggyinkcap.png");
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    &.center {
      margin: 0 auto;
    }
    &.large {
      max-width: 123px;
    }
  }
}

.classDatesContainer {
  @include themify($themes) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.4em;
    margin-top: 3px;
    li {
      background-color: themed("background");
      border: 2px solid list.nth(themed("primaryButton"), 2);
      border-radius: 5px;
      padding: 4px 5px;
      min-width: 46px;
      font-size: 14px;
      text-align: center;
      list-style: none;
      position: relative;
      input {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
      }
    }
    li:has(input:focus) {
      border: 2px solid list.nth(themed("primaryButton"), 1);
    }
    li:has(input:checked),
    li.selected {
      background-color: list.nth(themed("primaryButton"), 1);
      color: themed("background");
      &:has(input:focus-visible) {
        background-color: list.nth(themed("primaryButton"), 2);
      }
    }
  }
}

.buttonContainer {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding: 12px;
  @include themify($themes) {
    // border-bottom: 3px solid themed(text);
  }
  gap: 10px;
  --buttonBorderRadius: 12px;
  button:nth-of-type(1) {
    border-radius: var(--buttonBorderRadius) 0 0 var(--buttonBorderRadius);
  }
  button:last-of-type {
    border-radius: 0 var(--buttonBorderRadius) var(--buttonBorderRadius) 0;
  }
  button {
    flex: 1;
  }
}
