@use "themes.scss" as *;
@use "variables.scss" as *;

.landingPage {
  padding: 70px;
  ul {
    padding-left: 24px;
  }
  .content {
    color: #f6f2ee !important;
    margin-bottom: 60px;
    border-radius: 10px;
    width: 100%;
    background-image: url("../images/IMG_5938.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 60vh;
    min-height: fit-content;
    padding: 10px 20px 10px 0;
    padding-left: 1vw;
    .banner {
      margin-top: 3vw;
      background-image: url("../images/bannerHomepage.png");
      padding: 1vw 1vw 1vw 1.3vw;
      background-origin: border-box;
      // width: fit-content;
      height: 9vw;

      background-size: contain;
      background-position: left top;
      background-repeat: no-repeat;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      h1 {
        margin-top: 0.6vw;
        font-size: 3vw;
        margin-bottom: 0.1vw;
        display: flex;
        align-items: center;
        justify-content: left;
        font-family: "Domine", "Times New Roman", Times, serif;
      }
      h3 {
        @include themify($themes) {
          color: themed("primary");
        }
        font-family: "Doppio One";
        font-weight: 300;
        font-size: 1.4vw;
      }
    }
    .contentAlt {
      padding: 0 1.3vw;
      max-width: 620px;
      font-family: "Doppio One";
      font-size: max(1vw, 16px);
      max-width: 28.4em;
      .inputContainer {
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: unset;
      }
      button {
        padding: 0.7vw 1vw;
        font-size: 1vw;
        text-align: center;
        @include themify($themes) {
          background-color: themed("secondary");
          &:hover {
            background-color: themed("primary");
          }
        }
      }
    }
  }
}

// @media (max-width: $tabletBreakPoint) {
//   .landingPage {
//     .content {
//       .banner {
//         margin-top: 20px;
//         height: 90px;
//         h1 {
//           margin-top: 13px;
//           font-size: 50px;
//         }
//         h3 {
//           font-size: 15px;
//         }
//       }
//       .contentAlt {
//         max-width: 340px;
//         p {
//           font-size: 15px;
//         }
//         button {
//           font-size: 15px;
//         }
//       }
//     }
//   }
// }

/* Slideshow container */
.slideshow-container {
  position: relative;
  border-radius: 14px;
  height: 500px;
  aspect-ratio: 1536 / 1232;
  overflow: hidden;
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 100%;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 38px;
    border-radius: 0 3px 3px 0;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none !important;
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 0px;
    position: absolute;
    top: -20px;
  }

  /* The dots/bullets/indicators */
  .dotContainer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  }

  .active,
  .dot:hover {
    @include themify($themes) {
      background-color: themed("primary");
    }
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }
}
