@use "themes.scss" as *;
@use "variables.scss" as *;

.mainContainer {
  flex: 1;
  border-radius: 12px;
  font-size: 25px;
  section {
    padding-left: 5px;
  }
  @include themify($themes) {
    color: themed("text");
    background-color: themed("background");
    svg:not(.gsi-material-button svg),
    img {
      width: 50px;
      cursor: pointer;
      filter: themed("filterToBlack");
    }
    header {
      padding: 4px 16px 6px 16px;
      min-height: 65px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 45px;
      font-weight: 500;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      border-bottom: 2px solid themed("text");

      button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        svg:not(.gsi-material-button svg),
        img {
          width: 50px;
          cursor: pointer;
          filter: themed("filterToBlack");
        }
      }

      h1,
      h2,
      h3,
      h4,
      p {
        transform: translateY(1px);
        font-size: inherit;
        font-weight: inherit;
        margin: 0;
      }
    }
    .content {
      overflow: auto;
      padding: 10px 10px;
      input {
        font-size: 20px;
      }
    }
  }
}

.mainContainer-alt {
  @include themify($themes) {
    header {
      font-size: 50px;
      padding-bottom: 10px;
    }
    .content {
      padding: 20px;
    }
  }
}

.mainContainer-raw {
  flex: 1;
  border-radius: 12px;
  @include themify($themes) {
    color: themed("text");
    background-color: themed("background");
  }
  section {
    padding-left: 5px;
  }
}

.mainContainer.flex {
  display: block;
  align-items: center;
  justify-content: space-evenly;
}
