@use "themes.scss" as *;

.options {
  .mainContainer-content {
    h4 {
      margin-bottom: 10px;
    }
    span {
      font-size: 20px;
      margin-bottom: 4px;
      display: block;
    }
    img,
    i {
      border-bottom: 3.5px solid transparent;
      cursor: pointer;
      font-size: 40px;
    }
    img.active,
    i.active {
      @include themify($themes) {
        border-bottom: 3.5px solid themed("text");
      }
    }
  }
}
