@use "themes.scss" as *;
@use "variables.scss" as *;

aside.sb-expanded {
  --sb-width: 17.3rem;
  nav a span,
  nav a p {
    opacity: 1;
    // visibility: visible;
  }
}

aside {
  font-family: "Roboto";
  --iconSize: 4.4rem;
  --fontSize: 1.5rem;
  --padding: 0.6rem;
  --gap: 0rem;
  --sb-width: calc(var(--iconSize) + var(--padding) * 2);
  font-size: var(--fontSize);
  // inset: 0 auto 0 0;
  // width: 80px;
  transition: width 0.2s ease-in-out;

  width: var(--sb-width);
  .clickable {
    cursor: pointer;
  }
  .sidebarToggle {
    font-size: 43px;
  }
  nav {
    height: 100%;
    border: 2px solid white;
    border-radius: 13px;
    overflow: hidden;
    ul {
      padding: 0rem 0 0rem 0;
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      img.logo {
        // filter: drop-shadow(2px 0px 0px black) drop-shadow(0px 2px 0px black);
        scale: 1;
      }
      span.logo {
        width: unset;
        font-family: "Monomakh";
        font-size: 27px;
        transform: translateY(1px);
      }
      li {
        position: relative;
        box-sizing: content-box;
        cursor: pointer;
        &:first-of-type {
          height: 100px;
          border-bottom: 2px solid white;
          margin-left: -2px;
        }
        &:hover {
          @include themify($themes) {
            color: themed("text");
            background-color: themed("navHover");
          }
        }
        i {
          image-rendering: pixelated;
          min-width: var(--iconSize);
          display: flex;
          aspect-ratio: 1 / 1;
          text-align: center;
          align-items: center;
          justify-content: space-evenly;
          font-style: normal;
        }
        img,
        svg {
          width: var(--iconSize);
        }
        p {
          font-size: 22px;
        }
        a,
        button {
          background-color: unset;
          width: 100%;
          border: unset;
          height: 100%;
          min-width: var(--iconSize);
          display: flex;
          align-items: center;
          gap: 0.7rem;
          padding: var(--padding);
          line-height: 1;
          color: #fff;
          text-decoration: none;
          img,
          svg {
            position: relative;
          }
          span,
          p {
            opacity: 0;
            // visibility: hidden;
            margin-bottom: 0;
            transition: opacity 0.2s linear;
            white-space: pre;
          }
        }
      }
      li:last-child {
        margin-top: auto;
      }
    }
  }
}

@media (max-width: $mobileBreakPoint) {
  .mobileBanner {
    nav {
      border: 0;
      li {
        display: block !important;
      }
    }
  }
  aside {
    --sb-width: 100%;
    --fontSize: 18px;
    nav {
      overflow-x: scroll;
      border-radius: 13px 13px 0 0;
      border-bottom: 0;
      border-width: 1px;
      ul {
        flex-direction: row;
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        min-height: 100px;
        li {
          flex: 1;
          &:first-of-type {
            border-bottom: 0px;
            display: none;
          }
          a,
          button {
            position: relative;
            span,
            p {
              opacity: 1;
              position: relative;
              left: 50%;
              transform: translate(-50%, 27px);
            }
            i {
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              top: 13px;
            }
            img,
            svg {
              position: absolute;
              top: 0;
              scale: 1 !important;
              width: unset !important;
              height: 45px;
              transform-origin: bottom;
            }
          }
        }
        li:last-child {
          margin-top: auto;
          display: none;
        }
      }
    }
  }
  aside.sb-expanded {
    --sb-width: 100%;
  }
}
