@use "themes.scss" as *;
@use "variables.scss" as *;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Helvetica, sans-serif;
  height: 100dvh !important;
  @include themify($themes) {
    color: themed("text");
    background-color: themed("accent");
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
/* End of Reset */

#app-root {
  padding: 15px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
  #app {
    gap: 20px;
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
  }
}
button {
  background-color: unset;
  border: unset;
  color: inherit;
  font-size: inherit;
}

@media (max-width: $mobileBreakPoint) {
  html,
  body {
    height: 100% !important;
  }
  #app-root {
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: #f1f1f1;
  background: transparents;
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  overflow: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  overflow: hidden;
}

::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

::-webkit-scrollbar-thumb:horizontal {
  display: none;
}
