@use 'themes.scss' as *;
@use 'variables.scss' as *;
@use 'sass:list';

.classElement {
	@include themify($themes) {
		&:hover {
			background-color: themed('backgroundAlt');
		}
	}
	image-rendering: pixelated;
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	flex-shrink: 0;
	overflow: visible;
	@include themify($themes) {
		// border-bottom: 2px solid themed('text');
		padding: 4px 8px;
		position: relative;
		ul {
			margin-top: 6px;
		}
		.icon {
			flex: none;
			width: 90px;
		}
		.classElement-content {
			padding: 0px 0px 4px 7px;
			flex: 1;
			overflow: hidden;
			h3 {
				display: block;
				max-width: fit-content;
				color: themed('primary');
				margin-bottom: 0px;
				font-size: 27px;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: 500;
			}
			h4 {
				font-size: 20px;
				font-weight: 400;
				margin-bottom: 0px;
			}
			h5 {
				font-size: 16px !important;
				font-weight: 300 !important;
				margin-bottom: 0px;
				margin: 0 !important;
				padding: 0 !important;
			}
			h6 {
				margin: 2px 0 0px 0 !important;
				font-size: 14px;
				font-weight: 300;
			}
			p {
				font-size: 14px;
				margin-bottom: 0px;
			}
			table {
				font-size: 14px;
				left: 0;
				float: left;
				margin-top: 2px;
				width: 100%;
				tr td:nth-child(1) {
					width: 45px;
				}
			}
		}
	}
}

.classElement .icon,
.classElementIcon {
	@include themify($themes) {
		border: 4px solid black;
		background-color: themed('primary');
		align-self: flex-start;
		aspect-ratio: 1/1;
		border-radius: 50%;
		padding: 10px;
		background-image: url('images/mushrooms/missingno.png');
		background-size: contain;
		background-position: center;
		background-origin: content-box;
		background-repeat: no-repeat;
		image-rendering: pixelated;
		&.center {
			margin: 0 auto;
		}
		&.large {
			max-width: 123px;
		}
	}
}

.classDatesContainer {
	@include themify($themes) {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 6px;
		margin-top: 3px;
		li {
			background-color: themed('background');
			border: 2px solid list.nth(themed('primaryButton'), 2);
			border-radius: 5px;
			padding: 3px 6px;
			font-size: 14px;
			text-align: center;
			list-style: none;
			position: relative;
			input {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				cursor: pointer;
			}
		}
		li:has(input:focus) {
			border: 2px solid list.nth(themed('primaryButton'), 1);
		}
		li:has(input:checked),
		li.selected {
			background-color: list.nth(themed('primaryButton'), 1);
			color: themed('background');
			&:has(input:focus-visible) {
				background-color: list.nth(themed('primaryButton'), 2);
			}
		}
	}
}

.assignmentElement {
	// padding-top: 0 !important;
	border-bottom: 0 !important;
	&:has(input:checked) {
		h3 {
			text-decoration: line-through;
		}
	}
}
hr {
	margin: 3px 0 6px 0 !important;
}
.actionBtns {
	// height: 100%;
	gap: 4px;
	display: flex;
	align-items: flex-start;
	.actionButton {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
		flex: 1;

		@include themify($themes) {
			button {
				color: themed('primary');
				font-size: 27px;
				&:hover {
					text-decoration: underline;
					color: themed('primary');
				}
			}
		}

		i {
			background-image: url('/images/ui/checkbox.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 32px;
			aspect-ratio: 1/1;
			pointer-events: none;
			@include themify($themes) {
				filter: #{themed(primaryFilter)};
				color: themed('primary') !important;
			}
		}
		&:has(input:focus-visible) i {
			@include themify($themes) {
				filter: #{themed(primaryFilter)};
				outline: 2px solid;
			}
		}
		&:has(input:checked) i {
			background-image: url('/images/ui/checkbox-on.svg');
		}
		input {
			opacity: 0;
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}
}

.buttonContainer {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	padding: 12px 12px 7px 12px;
	@include themify($themes) {
		// border-bottom: 3px solid themed(text);
	}
	gap: 10px;
	--buttonBorderRadius: 12px;
	button:nth-of-type(1) {
		border-radius: var(--buttonBorderRadius) 0 0 var(--buttonBorderRadius);
	}
	button:last-of-type {
		border-radius: 0 var(--buttonBorderRadius) var(--buttonBorderRadius) 0;
	}
	button {
		flex: 1;
		padding: 6px !important;
		// font-size: 18px !important;
	}
}

h5 {
	padding: 0 10px;
	font-weight: 400;
	font-size: 27px;
	margin-top: 4px;
	margin-bottom: 1px;
	z-index: 10;

	@include themify($themes) {
		i {
			color: themed('primary');
			font-size: inherit;
			display: inline-block;
			transform: scale(1.2) translate(8px, 4px);
			animation-name: example;
			animation-duration: 1s;
			overflow: visible;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			animation-timing-function: ease-in-out;
			transform-origin: 50% 60%;
		}
		@keyframes example {
			from {
				scale: 1.2;
			}
			to {
				scale: 1;
			}
		}
	}
}

@media (max-width: $mobileBreakPoint) {
	.buttonContainer {
		padding: 5px;
		padding-bottom: 0;
	}

	.classDatesContainer {
		li {
			font-size: 10px !important;
			padding: 2px !important;
		}
	}

	.actionBtns {
		gap: 2px !important;
		.actionButton {
			font-size: 24px !important;
			i {
				width: 28px !important;
			}
		}
	}

	.classElement {
		@include themify($themes) {
			padding: 1px 7px;
			border-width: 2px;
			ul {
				margin-top: 3px;
			}
			.icon {
				flex: none;
				width: 80px;
			}
			.classElement-content {
				padding: 0px 0px 2px 4px;
				h3,
				a {
					font-size: 22px;
				}
				h6 {
					font-weight: 400;
					font-size: 14px;
				}
				table {
					font-size: 12px;
				}
			}
		}
	}
}
