@use 'themes.scss' as *;
@use 'variables.scss' as *;

footer {
	text-align: center;
	font-family: monospace;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 60px;
	width: fit-content;
	padding: 5px 50px 7px;
	@include themify($themes) {
		background-color: themed('navHover');
		border: 4px solid themed('primary') !important;
	}
	span {
		margin: 0 !important;
		display: block;
		max-width: 600px;
	}
	.primaryRecolor {
		@include themify($themes) {
			filter: #{themed(primaryFilter)};
		}
	}
}
