@use 'variables.scss' as *;
@use 'themes.scss' as *;
@use 'sass:list';

button:not(.raw):not(.toggleVisibility):not(.gsi-material-button) {
	@include themify($themes) {
		padding: 8px;
		font-size: 18px;
		font-weight: 600;
		border: 3px solid list.nth(themed('primaryButton'), 1);
		color: list.nth(themed('primaryButton'), 1);
		background-color: transparent;
		&.primary {
			background-color: themed('secondary');
			padding: 8px 20px !important;
		}
		&:hover {
			background-color: list.nth(themed('primaryButton'), 2);
			color: themed('background');
			cursor: pointer;
		}
		&.active {
			background-color: list.nth(themed('primaryButton'), 1);
			color: themed('background');
		}
		&.dangerous {
			transition-property: background-color, color;
			transition-duration: 0.1s;
			transition-timing-function: linear;
			background-color: rgba(255, 0, 0, 0.418);
			&:hover,
			&:focus {
				background-color: rgb(36, 17, 17);
				color: red;
			}
		}
	}
}

.inputContainer {
	max-width: 300px;
	text-align: left;
	--marginBottom: 20px;
	margin-bottom: var(--marginBottom);
	.primary {
		@include themify($themes) {
			color: themed('primary');
			font-weight: 600;
		}
	}
	&.spanLabel:has(span) {
		padding-top: 1.3em;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 18px;
		position: relative;
		span {
			top: 0;
			position: absolute;
		}
	}
	&.centered {
		margin: var(--marginBottom) auto;
	}
	&.flex {
		display: flex;
		gap: 30px;
		.inputContainer {
			flex: 1;
		}
	}
	label {
		margin-bottom: 2px;
		display: block;
		font-size: 18px;
		font-weight: 600;
	}
	input {
		width: 100% !important;
	}
}
input[type='checkbox'] {
	cursor: pointer;
}
input,
select {
	@include themify($themes) {
		border: 0;
		border-bottom: 3px solid list.nth(themed('primaryButton'), 1);
		background-color: transparent;
		color: themed('text');
		&:disabled {
			cursor: not-allowed;
		}
	}
}

select {
	width: 100%;
	cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
	@include themify($themes) {
		@include recolor(themed('primary'), 1);
		cursor: pointer;
	}
}

.inline {
	display: flex;
	align-items: stretch;
	justify-content: left;
	flex-wrap: wrap;

	gap: 10px;
	margin-bottom: 10px;
	input,
	.button {
		display: inline;
		margin: 0;
	}
	input {
		width: 100%;
		max-width: 250px;
	}

	.alert {
		@include themify($themes) {
			color: themed('alertRed');
		}
	}
	.alert,
	span {
		font-size: 18px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
}

.readOnly {
	color: grey;
}

input,
.button,
select {
	border: 3px solid #313131;
	padding: 3px 6px;
	background-color: white;
	font-size: 18px;
	font-family: 'Roboto', Courier, monospace;
}
select {
	padding-left: 1px;
	margin-top: 1px;
	option {
		@include themify($themes) {
			color: themed('primary');
			background-color: themed('accent');
		}
	}
}

button.raw {
	background-color: unset;
	border: unset;
}

.dropbtn {
	width: 100%;
	cursor: pointer;
}

.dropdown {
	width: 100%;
	position: relative;
	display: inline-block;
	margin-top: 7px;
}

.dropdown-content {
	display: none;
	position: absolute;
	align-items: stretch;
	justify-content: flex-start;
	padding: 6px 4px;
	width: 100%;
	gap: 5px;
	flex-wrap: wrap;
	@include themify($themes) {
		background-color: themed('secondary');
	}
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	list-style: none;
	li {
		position: relative;
		margin: 0;
		max-width: 90px;
		width: 100%;
		padding: 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
		&:has(input:checked) label div {
			@include themify($themes) {
				border-color: white;
			}
		}
		label {
			width: 100%;
			align-items: center;
			justify-content: space-evenly;
			span {
				margin-top: 2px;
				word-wrap: break-word;
				text-align: center;
				display: block;
				font-size: 15px;
				font-weight: 500;
				max-width: 90px !important;
			}
		}
		input {
			cursor: pointer !important;
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-wrap: wrap;
}

// SLIDERS
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 53px;
	border-radius: 5px;
	overflow: hidden;
	height: 27px;
}

.toggle-switch:has(input:focus-visible) {
	@include themify($themes) {
		outline: 5px outset themed('accent');
	}
}

.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.square .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	height: 100%;
}

.square .slider:before {
	position: absolute;
	content: '';
	height: 80%;
	aspect-ratio: 1/1;
	bottom: 0%;
	background-color: white;
	transition: 0.4s;
	top: 50%;
	border-radius: 3px;
	transform: translate(100%, -50%);
	right: calc(100% - 3px);
}

.square input:checked + .slider {
	@include themify($themes) {
		background-color: themed('primary');
	}
}

.square input:checked + .slider:before {
	transform: translate(0, -50%) !important;
	right: 3px;
}

.toggleVisibility {
	background-color: transparent;
	border: 0;
}

@media (max-width: $mobileBreakPoint) {
	button:not(.raw):not(.toggleVisibility):not(.gsi-material-button) {
		font-size: 16px !important;
		padding: 5px !important;
	}
}
