@use 'themes.scss' as *;
@use 'variables.scss' as *;
@use 'sass:list';

.mainContainer {
	flex: 1;
	border-radius: 12px;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	overflow: auto;
	display: block;
	@include themify($themes) {
		strong {
			color: themed('primary');
		}
		p a,
		span a {
			margin: 0;
			padding: 0;
		}
		a.primary,
		a {
			color: list.nth(themed('primaryButton'), 1);
			&:hover {
				color: list.nth(themed('primaryButton'), 2);
				text-decoration: underline;
			}
		}
		a:hover {
			text-decoration: underline;
			cursor: pointer;
		}
		a.borderHover:hover {
			border-bottom: 3px solid themed('primary');
		}
		color: themed('text');
		background-color: themed('background');
		svg:not(.gsi-material-button svg),
		img.recolor {
			width: 40px;
			cursor: pointer;
			filter: #{themed(text)};
		}
		header {
			padding: 3px 9px 3px 10px;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			font-size: 36px;
			font-weight: 400;
			border-bottom: 3px solid themed('text');

			select {
				font-family: inherit;
				// padding-right: 1.1em;
				margin-bottom: -3px !important;
				margin-left: -1px !important;
				margin-top: -5px !important;
				// height: 100%;
				border: 0;
				font-size: inherit;
				width: fit-content;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: url('/images/ui/chevron-down.svg') 100% / 36px no-repeat;
				background-position: right;

				option {
					font-size: 24px;
				}
			}
			button {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				margin: 0 !important;
				color: themed('text') !important;
				cursor: pointer;
				svg:not(.gsi-material-button svg),
				img {
					height: 32px;
					cursor: pointer;
					filter: themed('filterToBlack');
				}
			}

			h1,
			h2,
			h3,
			h4,
			p,
			select {
				font-size: inherit;
				font-weight: inherit;
				margin: -2px 0 0 0;
			}
		}
		.mainContainer-content {
			display: block;

			width: 100%;
			padding: 0;

			input {
				font-size: 20px;
			}
		}
		.mainContainer-content.padding {
			padding: 8px 20px;
		}
	}
}

.mainContainer-raw {
	flex: 1;
	border-radius: 12px;
	@include themify($themes) {
		color: themed('text');
		background-color: themed('background');
	}
}

.mainContainer.flex {
	display: block;
	align-items: center;
	justify-content: space-evenly;
}

@media (max-width: $mobileBreakPoint) {
	.mainContainer {
		header {
			font-size: 29px !important;
		}
	}
}
