@use 'themes.scss' as *;
@use 'variables.scss' as *;
@use 'sass:list';

.mainContainer {
	flex: 1;
	border-radius: 12px;
	font-size: 25px;
	transition-property: background-color;
	transition-duration: 0.2s;
	overflow-y: auto !important;
	transition-timing-function: linear;
	display: table;
	overflow: hidden !important;
	@include themify($themes) {
		#assignmentEntryContainer,
		#classEntryContainer {
			display: table-row;
			height: 100%;
		}
		a.primary {
			color: themed('primary');
			text-align: left;
			cursor: pointer;
			margin: 0;
			padding: 0;
			&:hover {
				text-decoration: underline;
			}
		}
		a:hover {
			text-decoration: underline;
			cursor: pointer;
		}
		a.borderHover:hover {
			border-bottom: 3px solid themed('primary');
		}
		section {
			padding-left: 5px;
		}
		color: themed('text');
		background-color: themed('background');
		svg:not(.gsi-material-button svg),
		img.recolor {
			width: 40px;
			cursor: pointer;
			@include recolor(themed('text'), 1);
		}
		header {
			padding: 8px 9px 3px 9px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 33px;
			font-weight: 500;
			font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			border-bottom: 3px solid themed('text');

			select {
				font-family: inherit;
				// padding-right: 1.1em;
				margin-bottom: -3px !important;
				margin-top: -6px !important;
				background-color: red;
				height: 100%;
				border: 0;
				font-size: inherit;
				width: 100%;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: url('../images/ui/chevron-down.svg') 100% / 34px no-repeat;
				option {
					font-size: 24px;
				}
			}
			button {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				@include recolor(themed('text'), 1);
				cursor: pointer;
				svg:not(.gsi-material-button svg),
				img {
					height: 32px;
					cursor: pointer;
					filter: themed('filterToBlack');
				}
			}

			h1,
			h2,
			h3,
			h4,
			p,
			select {
				font-size: inherit;
				font-weight: inherit;
				margin: -3px 0 0 0;
			}
		}
		.mainContainer-content {
			min-height: calc(100%);
			height: 100%;
			overflow: auto;
			padding: 50px;
			input {
				font-size: 20px;
			}
		}
	}
}

.mainContainer-alt {
	@include themify($themes) {
		header {
			font-size: 47px;
			padding: 8px;
			padding-bottom: 2px;
		}
		.mainContainer-content {
			padding: 20px;
		}
	}
}

.mainContainer-raw {
	flex: 1;
	border-radius: 12px;
	@include themify($themes) {
		color: themed('text');
		background-color: themed('background');
	}
	section {
		padding-left: 5px;
	}
}

.mainContainer.flex {
	display: block;
	align-items: center;
	justify-content: space-evenly;
}
