@use 'sass:map';
@use 'sass:color';
$theme-map: null;
$themes: (
	light: (
		text: #110d09,
		background: #c2c2ca,
		backgroundAlt: #f0f0f4,
		primary: #ba8e36,
		secondary: #146d46,
		accent: #146d46,
		navHover: #ffffff33,
		navText: #f1f9f7,
		alertRed: rgb(242, 8, 8),
		primaryButton: (
			#ba8e36,
			#ba8e3662
		)
	),
	dark: (
		text: #f6f2ee,
		background: #134533,
		backgroundAlt: #0c3526,
		primary: #cfbb95,
		secondary: #146d46,
		accent: #041e18,
		navHover: #00000033,
		navText: #f6f2ee,
		alertRed: rgb(247, 51, 51),
		primaryButton: (
			#cfbb95,
			#cfbb9598
		)
	)
);

@mixin themify($themes: $themes) {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map.get(map.get($themes, $theme), '#{$key}');
				$theme-map: map.merge(
					$theme-map,
					(
						$key: $value
					)
				) !global;
			}

			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map.get($theme-map, $key);
}

@mixin recolor($color: #000, $opacity: 1) {
	$r: calc(color.channel($color, 'red', $space: rgb) / 255);
	$g: calc(color.channel($color, 'green', $space: rgb) / 255);
	$b: calc(color.channel($color, 'blue', $space: rgb) / 255);
	$a: $opacity;

	// grayscale fallback if SVG from data url is not supported
	$lightness: color.channel($color, 'lightness', $space: hsl);
	filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity);

	// color filter
	$svg-filter-id: 'recolor';
	filter: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
        <feColorMatrix type="matrix" values="\
          0 0 0 0 #{$r}\
          0 0 0 0 #{$g}\
          0 0 0 0 #{$b}\
          0 0 0 #{$a} 0\
        "/>\
      </filter>\
    </svg>\
    ##{$svg-filter-id}');
}
