@use "themes.scss" as *;
@use "variables.scss" as *;

aside.sb-expanded {
  --sb-width: 15.8rem;
  nav a span,
  nav a p {
    opacity: 1;
    // visibility: visible;
  }
}

aside {
  font-family: "Domine", "Times New Roman", Times, serif;
  --iconSize: 50px;
  --fontSize: 23px;
  --fontSizeLogo: 25px;
  --padding: 18px;
  --paddingLogo: 19px;
  --logoScale: 1.4;
  --gap: 8px;
  --sb-width: calc(var(--iconSize) + var(--padding) * 2);
  font-size: var(--fontSize);
  // inset: 0 auto 0 0;
  // width: 80px;
  transition: width 0.2s ease-in-out;

  width: var(--sb-width);
  .clickable {
    cursor: pointer;
  }
  .sidebarToggle {
    font-size: 43px;
  }
  nav {
    height: 100%;
    border: 2px solid white;
    border-radius: 13px;
    overflow: hidden;
    ul {
      padding: 0rem 0 0rem 0;
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      img.logo {
        image-rendering: pixelated;
        scale: var(--logoScale);
      }
      span.logo {
        position: relative;
        width: unset;
        font-size: var(--fontSizeLogo);
        font-weight: 900;
      }
      li#nav-homeTab {
        display: none;
      }
      li {
        position: relative;
        box-sizing: content-box;
        padding: 10px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &:first-of-type {
          border-bottom: 2px solid white;
          padding: var(--paddingLogo) 0;
        }
        &:hover {
          @include themify($themes) {
            color: themed("text");
            background-color: themed("navHover");
          }
        }
        i {
          font-size: 60px !important;
          image-rendering: pixelated;
          width: var(--iconSize);
          display: flex;
          aspect-ratio: 1 / 1;
          text-align: center;
          align-items: center;
          justify-content: space-evenly;
          font-style: normal;
          padding-left: calc(var(--padding) - 2px);
        }
        img,
        svg {
          width: var(--iconSize);
          image-rendering: pixelated;
        }
        p {
          font-size: 22px;
        }
        a,
        button {
          background-color: unset;
          width: 100%;
          border: unset;
          height: 100%;
          min-width: var(--iconSize);
          display: flex;
          align-items: center;
          gap: 9px;
          font-weight: 500;
          white-space: pre;
          color: #fff;
          text-decoration: none;
          i {
            // padding: var(--padding);
            box-sizing: content-box;
            min-width: var(--iconSize);
          }
          img,
          svg {
            position: relative;
          }
          span,
          p {
            opacity: 0;
            // visibility: hidden;
            margin-bottom: 0;
            transition: opacity 0.2s linear;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      li:last-child {
        margin-top: auto;
      }
    }
  }
}

@media (max-width: $tabletBreakPoint) {
  aside.sb-expanded {
    --sb-width: 16.9rem;
  }
  aside {
    --iconSize: 3rem;
    nav {
      ul {
        li {
          padding: 8px 0;
        }
      }
    }
  }
}
@media (max-width: $mobileBreakPoint) {
  .mobileBanner {
    nav {
      border: 0;
      ul li {
        display: block !important;
        padding-top: 0px;
      }
    }
  }
  aside {
    --sb-width: 100%;
    --fontSize: 18px;
    height: 90px;
    nav {
      overflow-x: scroll;
      border-radius: 13px 13px 0 0;
      border-bottom: 0;
      border-width: 1px;
      ul {
        flex-direction: row;
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        min-height: 100px;
        overflow-x: scroll !important;
        li#nav-homeTab {
          display: block;
        }
        li {
          flex: 1;
          padding: 0px 0;
          &:first-of-type {
            border-bottom: 0px;
            display: none;
          }
          a,
          button {
            position: relative;
            padding: 0px !important;
            span,
            p {
              width: 100%;
              opacity: 1;
              position: absolute;
              top: 58px;
              text-align: center;
              font-size: 13px;
              line-clamp: 2;
              -webkit-line-clamp: 2;
            }
            i {
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              top: 5px;
              height: 53px;
            }
            .pixelArtIcon {
              font-size: 45px !important;
            }
            img,
            svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              scale: 1 !important;
              width: unset !important;
              height: 80%;
              transform-origin: bottom;
            }
          }
        }
        li:last-child {
          margin-top: auto;
          display: none;
        }
      }
    }
  }
  aside.sb-expanded {
    --sb-width: 100%;
  }
}
